@import 'vars';

form.category-form {
  width: 70%;
  margin-top: 10%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 40%;
  border-style: inset;
  float: left;
  margin-top: 0;
  height: 35px;
  margin-right: 4px;
}

button {
  height: 35px;
  width: 15%;
}
