@import 'vars';

div.expense-item {
  border: 1px solid $accent-color-lime;
  width: 100%;
  margin-top: 16px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

button.remove-button {
  color: $primary-color-purple;
  background-color: white;
  float: right;
  display: block;
  margin: 1px;
}

button.update-button {
  color: $primary-color-purple;
  background-color: white;
  width: 20px;
  float: right;
  display: block;
  margin: 1px;
}

button.add-expense {
  color: $primary-color-purple;
  background-color: white;
  width: 10px;
  float: right;
  display: block;
  margin-right: 10px;
}
